<div class="activity_box">
  <div class="scrollbar" id="style-2">
    <div *ngFor="let place of places; let isEven=even" (click)="clickOnWhole(place)"
              [ngClass]="{'even_line':isEven,'activity-row':true}">
      <div class="activity-desc">
        <h5>{{place.name}}</h5>
        <p>{{place.country}}</p>
        <p>{{place.city}}</p>
        <h6>Tel:+{{place.telephone}}</h6>
      </div>
      <div class="activity-img">
        <ul>
          <li><img src='{{place.getMainMinImage()}}'  alt=""/></li>
          <li><img src='{{place.getSecondMinImage()}}'  alt=""/></li>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>
  </div>
</div>
