<h1>
  Check the weather!
</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img src="{{currentPlace.getMainImage()}}" alt="" class="img-responsive"> </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <h2>
          <a href="#" (click)="changeCountryFilter(null)" appHighlight>All</a>
          <span *ngFor="let country of places | getDistinctCountries">
            | <a href="#" (click)="changeCountryFilter(country)" appHighlight>{{country}}</a>
          </span>
        </h2>
      </div>
      <div class="village">
        <h3>Select the one of the following places:</h3>
        <span class="line"> </span>
        <app-info [places]="places" [countryFilter]="countryFilter" (clickOnIt)="changeCurrentPlace($event)"></app-info>
      </div>
    </div>
  </div>
  <div class="element-right">
    <app-weather [place]="currentPlace"></app-weather>
    <app-follow [place]="currentPlace"></app-follow>
  </div>
  <div class="clear"> </div>
</div>
