<div class="form">

  <ul class="tab-group">
    <li [ngClass]="{'tab': true, 'active':(currentFormName==='singup')}">
      <a (click)="setCurrentFormName('singup')">Sign Up</a>
    </li>
    <li [ngClass]="{'tab': true, 'active':(currentFormName==='login')}">
      <a (click)="setCurrentFormName('login')">Log In</a>
    </li>
  </ul>

  <div class="tab-content">
    <app-sign-up-form [visible]="currentFormName=='singup'"></app-sign-up-form>
    <app-log-in-form [visible]="currentFormName=='login'"></app-log-in-form>
  </div>

</div>
