input.ng-invalid {
  outline: 0;
  border-color: red;
}

input:focus {
  outline: 0;
  border-color: orange;
}

input.ng-valid {
  outline: 0;
  border-color: #1ab188;
}

button:disabled {
  background-color: #c1bdba;
}
